# BEGIN WordPress
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]

# Add these lines to ensure JavaScript and CSS load correctly
<FilesMatch "\.(js|css|gif|png|jpg|jpeg|ico|svg|woff|woff2|ttf|eot|otf|mp4|webp)$">
  Header set Access-Control-Allow-Origin "*"
</FilesMatch>

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
# END WordPress

